@model catbug.Models.LearningCycle

@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <h1>@Model.StartDate.ToString("dd/MM/yy") - @Model.StartDate.AddDays(13).ToString("dd/MM/yy")</h1>

    <table class="table">
        <thead>
            <tr>
                @{LearningObjective lo = new LearningObjective();}
                <th scope="col">@Html.DisplayNameFor(model => lo.Goal)</th>
                <th scope="col">@Html.DisplayNameFor(model => lo.Techniques)</th>
                <th scope="col">@Html.DisplayNameFor(model => lo.Criteria)</th>
                <th scope="col">@Html.DisplayNameFor(model => lo.Completed)</th>
                <th scope="col">@Html.DisplayNameFor(model => lo.Evaulation)</th>
            </tr>
        </thead>
        @foreach (LearningObjective learningObjective in Model.LearningObjectives)
        {
            <tr>
                <td>@learningObjective.Goal</td>
                <td>@learningObjective.Techniques</td>
                <td>@learningObjective.Criteria</td>
                <td>@learningObjective.Completed</td>
                <td>@learningObjective.Evaulation</td>
            </tr>
        }
    </table>
</div>