@model IEnumerable<catbug.Models.LearningObjective>

@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Goal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Techniques)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Criteria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Completed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Evaulation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LearningCycle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Goal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Techniques)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Criteria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Evaulation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LearningCycle.Id)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>